@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error ";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">@ViewBag.Title.</h1>
    </div>
</header>
<div class="container">
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>
