<div class="alert alert-info col-md-12">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong><i class="fa fa-info"></i> Info!</strong> To be able to use the system, you will need to have an active subscription. The cost of a 12 month sign up is $20.00 and can be paid for through the "My Account" section in the payment tab. After subscription, you can request for a reference through the "my references" section
</div>
