@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>


<table class="api" id="Table1">
    <tr>
        <td class="field"></td>
        <td>@Request.QueryString.Get("ErrorCode")</td>
    </tr>

    <tr>
        <td class="field"></td>
        <td>@Request.QueryString.Get("Desc")</td>
    </tr>

</table>